.WebApp {
  text-align: center;
  background-color: black;
}

body {
  text-align: center;
  padding-bottom: 10vmin;
  background-color: black;
  color: white;
}

.love {
  text-align: center;
  padding-bottom: 10vmin;
  background-color: black;
  color: rgb(254, 1, 1);
  font: italic;
}

.start {
  align-content: center;
  border-radius: 2px;
  height: auto;
  max-width: 100%;
}

.joke {
  align-content: center;
  height: auto;
  max-width: 100%;
}

.hitting {
  align-content: center;
  border-radius: 2px;
  height: auto;
  max-width: 100%;
}

.cat {
  align-content: center;
  height: auto;
  max-width: 100%;
}

.cake {
  align-content: center;
  border-radius: 2px;
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
